#view {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
    background-color: rgba(32, 32, 32, 0.8);
    padding: 15px;
    color: cornflowerblue;
}

#view button {
    padding: 15px;
    border: 1px solid cornflowerblue;
    background-color: rgb(39, 44, 73);
    color: cornflowerblue;
}

#view button:hover {
    background-color: rgb(62, 78, 165);
    color: white;
}

#view button:focus {
    border: 1px solid rgb(32, 128, 200);
    background-color: rgb(62, 78, 165);
    color: cornflowerblue;
}

#view button:active {
    background-color: rgb(32, 32, 64);
    transform: translateY(2px);
}

#legend {
    position: absolute;
    top: 120px;
    left: 10px;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
    background-color: rgba(32, 32, 32, 0.8);
    padding: 15px;
    color: cornflowerblue;
}

.options {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 260px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
    background-color: rgba(32, 32, 32, 0.8);
    padding: 15px;
    color: cornflowerblue;
}

.fieldgrid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 65px;
}

.fields {
        
}

.field label {
    display: inline-block;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#instructions {
    position: absolute;
    width: 200px;
    left: 10px;
    top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(32, 32, 32, 0.5);
    color: cornflowerblue;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
}

#tilepreview {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 256px;
    height: 256px;
}

.field input {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid cornflowerblue;
    width: 142px;
    background-color: rgb(32, 32, 32);
    color: cornflowerblue;
}

.header {
   background-color: rgba(64, 64, 64, 0.2);
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   text-align: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.actions {
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;
   padding: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: rgba(64, 64, 64, 0.2);
}

.actions button {
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid cornflowerblue;
    background-color: rgb(39, 44, 73);
    color: cornflowerblue;
}

.actions button:hover {
    background-color: rgb(62, 78, 165);
    color: white;
}

.actions button:focus {
    border: 1px solid rgb(32, 128, 200);
    background-color: rgb(62, 78, 165);
    color: cornflowerblue;
}

.actions button:active {
    background-color: rgb(32, 32, 64);
    transform: translateY(2px);
}